<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="RegistrationForm">
    <meta name="author" content="Babirye Grace">
    <meta name="keywords" content="babiryegrace20">

    <!-- Title Page-->
    <title>CustomerRegistrationForm</title>

    <!-- Icons font CSS-->
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="/https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <!--<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">-->
            <div class="card card-4">
                <div class="container-fluid" id="div1" style="position: fixed; top: 0px; width: 2090px;">
                    <ul>
                      <li class="dropdown">
                        <a href="#" class="dropbtn">Log In</a>
                        <div class="dropdown-content">
                          <a href="adminLogin.html">Administrator</a>
                          <a href="salesLogin.html">Sales Executive</a>
                        </div>
                      </li>
                      <li><a href="#news">Sales</a></li>
                      <li><a href="#contact">statistics</a></li>
                      <li><a class="active" href="#about">Log Out</a></li>
                    </ul>
                    </div>
              
                <!--<div w3-include-html="./views/header.html"></div>-->
                <div class="card-body">
                    <img src="images/logo.PNG" alt="" style="margin-left: 500px; max-width: 60px;">
                    <h2 class="title">Customer Registration Form</h2>
                    
                    <form name="form" method="POST" action="/addname">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" name="first_name" id="name"  required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="last_name" id="name" required>
                                </div>
                            </div>
                        <!--</div>-->
                        <!--<div class="row row-space">-->
                          <div class="col-2">
                              <div class="input-group">
                                  <label class="label">Current Date</label>
                                  <div class="input-group-icon">
                                      <input class="input--style-4 js-datepicker" type="text" name="date_today" id="dob" required>
                                      <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-2">
                            <div class="input-group">
                                <label class="label">Nationality</label>
                                <input class="input--style-4" type="text" name="nationality" id="nationality" required>
                            </div>
                        </div>
                      </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Customer DOB</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="birthday" id="dob" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender" id="gender" required>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender" id="gender" required>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        <!--</div>-->
                        <!--<div class="row row-space">-->
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email" id="email"required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" name="telno" id="phonenumber" required>
                                </div>
                            </div>
                            </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">NiN</label>
                                    <input class="input--style-4" type="text" name="nin" id="nin" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Marital Status</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject" id="status">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Married</option>
                                            <option>Not married</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        <!--</div>-->
                        <!--<div class="row row-space">-->
                          <div class="col-2">
                              <div class="input-group">
                                  <label class="label">Down Payment</label>
                                  <input class="input--style-4" type="text" name="downpayment" id="downpayment"  required>
                              </div>
                          </div>
                          <div class="col-2">
                              <div class="input-group">
                                  <label class="label">Kind of vehicle</label>
                                  <div class="rs-select2 js-select-simple select--no-search">
                                      <select name="subject" id="vehicle" required>
                                          <option disabled="disabled" selected="selected">Choose option</option>
                                          <option>Boda boda</option>
                                          <option>Tuktuk</option>
                                          <option>Tricycle</option>
                                          <option>Other(specify)</option>
                                      </select>
                                      <div class="select-dropdown"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Stage name</label>
                                <input class="input--style-4" type="text" name="stage_name" id="stagename" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Other loans(if any)</label>
                                <input class="input--style-4" type="text" name="other_loan"  required>
                            </div>
                        </div>
                    <!--</div>
                    <div class="row row-space">-->
                      <div class="col-2">
                          <div class="input-group">
                              <label class="label">referee name</label>
                              <input class="input--style-4" type="text" name="referee_name" id="name"  required>
                          </div>
                      </div>
                      <div class="col-2">
                          <div class="input-group">
                              <label class="label">work of referee</label>
                              <input class="input--style-4" type="text" name="referee_work" id="name" required>
                          </div>
                      </div>
                  </div>
                  <div class="row row-space">
                    <div class="col-2">
                      <div class="input-group">
                          <label class="label">Referee Phone Number</label>
                          <input class="input--style-4" type="text" name="telno2" id="phonenumber" required>
                      </div>
                  </div>
                  <div class="col-2">
                    <div class="input-group">
                        <label class="label">Referee DOB</label>
                        <div class="input-group-icon">
                            <input class="input--style-4 js-datepicker" type="text" name="birthday" id="dob" required>
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                        </div>
                    </div>
                </div>
                  <div class="col-2">
                    <div class="input-group">
                        <label class="label">Next of Kin Name</label>
                        <input class="input--style-4" type="text" name="NOK" id="name" required>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label">Next of Kin contact</label>
                        <input class="input--style-4" type="text" name="telno3" id="phonenumber" required>
                    </div>
                </div>
                    </div>
                    <div class="row row-space">
                    <div class="col-2">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload lc3 recommendation</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                        <!--<label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
                      </div>
                    </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload lc1 recommendation</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                            <!--<label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
                          </div>
                        </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload referee recommendation</span>
                              </div>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                                <!--<label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
                              </div>
                            </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload stage recommendation</span>
                                  </div>
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                                    <!--<label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
                                  </div>
                                </div>
                                </div>
                </div>
                      <div style="padding-bottom: 80px;">
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit" style="margin-left: 300px;" onclick="validate()">Submit</button>
                            <button class="btn btn--radius-2 btn--red" type="reset" style="margin-left: 80px;">Cancel</button>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="container-fluid" id="div2" style="background-color: #2489C7; width: 2090px; position: fixed; bottom: 0px; height: 50px;">
                    <p style="padding-left: 500px; margin: 10px; color: aliceblue;">Designed by BABIRYE GRACE<br> BodabodaBanja&copy2020</p>
                  </div>
            </div>
        <!--</div>
    </div>-->

    <!-- Jquery JS-->
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/datepicker/moment.min.js"></script>
    <script src="/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/js/include.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/validation.js"></script>
</body>
</html>
<!-- end document-->