doctype html
html
  head
    title List of executives
  body
    table
      thead
        tr
          th user_name
      tbody
        each executive in executives
          tr
            td #{executive.username}